* {
  margin: 0;
  box-sizing: border-box; }

header {
  height: 15vh;
  display: flex;
  flex-direction: row; }
  header nav[data-tipo="nav-index"] {
    position: relative;
    left: 40vw;
    top: 5vh; }
    header nav[data-tipo="nav-index"] ul {
      display: flex;
      flex-direction: row;
      gap: 7em;
      list-style-type: none; }
      header nav[data-tipo="nav-index"] ul li {
        font-size: 20px;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 3px 3px; }
        header nav[data-tipo="nav-index"] ul li:hover {
          border: 1px solid #2af3fa;
          padding: 3px 3px;
          border-radius: 10px;
          background-color: #2af3fa; }
        header nav[data-tipo="nav-index"] ul li a {
          text-decoration: none;
          color: black; }
          header nav[data-tipo="nav-index"] ul li a:hover {
            color: white; }

main[data-tipo="main-index"] {
  position: relative;
  height: 200vh; }
  main[data-tipo="main-index"] h1 {
    display: inline-block;
    position: relative;
    color: blue;
    width: 50vw;
    height: 13vh;
    left: 10vw;
    font-size: 80px;
    font-style: italic; }
  main[data-tipo="main-index"] img[data-tipo="perfil"] {
    display: inline-block;
    position: relative;
    height: 20vh;
    top: 2vh;
    left: 30vw; }
  main[data-tipo="main-index"] p[data-tipo="nick"] {
    position: relative;
    left: 83vw;
    font-size: 20px;
    font-weight: bold;
    width: 5vw;
    animation: changeColor 2s linear infinite;
    top: 2vh; }

@keyframes changeColor {
  0% {
    color: red; }
  /* Define el color inicial */
  25% {
    color: blue; }
  /* Cambia el color al 25% del tiempo */
  50% {
    color: green; }
  /* Cambia el color al 50% del tiempo */
  75% {
    color: orange; }
  /* Cambia el color al 75% del tiempo */
  100% {
    color: red; }
  /* Vuelve al color inicial al final */ }

div[data-tipo="primero"] {
  position: relative;
  width: 1400px;
  height: 600px;
  overflow: hidden;
  left: 60px; }
  div[data-tipo="primero"] img[data-tipo="primero-1"] {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 1;
    transition: opacity 0.5s ease-in-out; }
  div[data-tipo="primero"]:target {
    opacity: 1; }

div[data-tipo="segundo"] {
  position: relative;
  top: 2vh;
  transform: translateX(-50%);
  width: 15vw;
  left: 50vw;
  text-align: center; }
  div[data-tipo="segundo"] a {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #b6b5b9;
    border-radius: 50%;
    margin: 0 5px;
    /*left: 55vw;*/
    /*color: white;*/
    text-decoration: none;
    line-height: 20px; }
    div[data-tipo="segundo"] a:hover {
      background-color: gray; }

div[data-tipo="tercero"] {
  position: relative;
  top: 15vh;
  height: 70vh;
  display: grid;
  grid-template-areas: "dota2 deadby" "left4 texass";
  justify-content: center;
  grid-gap: 10%; }
  div[data-tipo="tercero"] a div[data-tipo="tres.1"] {
    grid-area: dota2;
    position: relative;
    height: 30vh;
    width: 25vw;
    background-image: url("../assets/IMG/index/DOTA/Dota2.jpg");
    background-size: cover; }
    div[data-tipo="tercero"] a div[data-tipo="tres.1"]:hover {
      background-image: url("../assets/IMG/index/DOTA/Dota2-1.png"); }
  div[data-tipo="tercero"] a div[data-tipo="tres.2"] {
    grid-area: deadby;
    position: relative;
    height: 30vh;
    width: 25vw;
    background-image: url("../assets/IMG/index/DBD/DBD.jpg");
    background-size: cover; }
    div[data-tipo="tercero"] a div[data-tipo="tres.2"]:hover {
      background-image: url("../assets/IMG/index/DBD/DBD-1.jpg"); }
  div[data-tipo="tercero"] a div[data-tipo="tres.3"] {
    grid-area: left4;
    position: relative;
    height: 30vh;
    width: 25vw;
    background-image: url("../assets/IMG/index/LEFT/Left.jpg");
    background-size: cover; }
    div[data-tipo="tercero"] a div[data-tipo="tres.3"]:hover {
      background-image: url("../assets/IMG/index/LEFT/left-1.jpg"); }
  div[data-tipo="tercero"] a div[data-tipo="tres.4"] {
    grid-area: texass;
    position: relative;
    height: 30vh;
    width: 25vw;
    background-image: url("../assets/IMG/index/TEXAS/Texas.jpg");
    background-size: cover; }
    div[data-tipo="tercero"] a div[data-tipo="tres.4"]:hover {
      background-image: url("../assets/IMG/index/TEXAS/Texas-1.png"); }

header nav[data-tipo="nav-dota"] {
  position: relative;
  left: 40vw;
  top: 5vh; }
  header nav[data-tipo="nav-dota"] ul {
    display: flex;
    flex-direction: row;
    gap: 7em;
    list-style-type: none; }
    header nav[data-tipo="nav-dota"] ul li {
      font-size: 20px;
      border: 1px solid gray;
      border-radius: 10px;
      padding: 3px 3px; }
      header nav[data-tipo="nav-dota"] ul li:hover {
        border: 1px solid red;
        padding: 3px 3px;
        border-radius: 10px;
        background-color: #fa2a2a; }
      header nav[data-tipo="nav-dota"] ul li a {
        text-decoration: none;
        color: black; }
        header nav[data-tipo="nav-dota"] ul li a:hover {
          color: white; }

main[data-tipo="dota-main"] p[data-tipo="titulo-dota"] {
  color: red;
  position: relative;
  left: 40vw;
  font-size: 6em;
  bottom: 1vh;
  width: 20vw;
  font-weight: bold; }

main[data-tipo="dota-main"] p {
  font-size: 4em;
  color: blue;
  left: 5vw;
  width: 75vw;
  position: relative; }

main[data-tipo="dota-main"] div {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  gap: 10px;
  top: 5vh; }
  main[data-tipo="dota-main"] div img {
    position: relative;
    height: 65vh;
    width: 20vw;
    left: 5vw; }
  main[data-tipo="dota-main"] div div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    main[data-tipo="dota-main"] div div article {
      position: relative;
      border: 1px solid;
      border-radius: 30px;
      padding: 10px;
      width: 65vw;
      height: 40vh;
      background-color: #cbc6c6;
      top: -5vh; }
      main[data-tipo="dota-main"] div div article div {
        position: relative;
        display: inline-block;
        top: 5vh;
        left: 6vw; }
        main[data-tipo="dota-main"] div div article div img {
          width: 10vw;
          height: 15vh; }

@media screen and (max-width: 400px) {
  main[data-tipo="dota-main"] {
    top: -10vh; }
    main[data-tipo="dota-main"] p {
      font-size: 2em;
      color: blue;
      text-align: center; }
    main[data-tipo="dota-main"] div {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto;
      gap: 10px;
      top: 5vh; }
      main[data-tipo="dota-main"] div img {
        position: relative;
        height: 50vh;
        width: 30vw;
        left: 2vw; }
      main[data-tipo="dota-main"] div div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        main[data-tipo="dota-main"] div div article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 65vw;
          height: 30vh;
          background-color: #cbc6c6;
          top: -5vh;
          left: -2vw; }
          main[data-tipo="dota-main"] div div article div {
            position: relative;
            display: inline-block;
            top: 1vh;
            left: 6vw; }
            main[data-tipo="dota-main"] div div article div img {
              width: 10vw;
              height: 10vh; } }

header nav[data-tipo="nav-dbd"] {
  position: relative;
  left: 40vw;
  top: 5vh; }
  header nav[data-tipo="nav-dbd"] ul {
    display: flex;
    flex-direction: row;
    gap: 7em;
    list-style-type: none; }
    header nav[data-tipo="nav-dbd"] ul li {
      font-size: 20px;
      border: 1px solid gray;
      border-radius: 10px;
      padding: 3px 3px; }
      header nav[data-tipo="nav-dbd"] ul li:hover {
        border: 1px solid #5d5c5c;
        padding: 3px 3px;
        border-radius: 10px;
        background-color: #5a5757; }
      header nav[data-tipo="nav-dbd"] ul li a {
        text-decoration: none;
        color: black; }
        header nav[data-tipo="nav-dbd"] ul li a:hover {
          color: white; }

main[data-tipo="dbd-main"] h1 {
  color: #5d5c5c;
  position: relative;
  left: 30vw;
  bottom: 3vh; }

main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] {
  position: relative;
  height: 140vh; }
  main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] p[data-tipo="dbd-letra-asesinos"] {
    font-family: killer;
    font-size: 4em;
    color: red;
    padding-bottom: 5vh; }
  main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div img[data-tipo="michael"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="michael"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh; }
      main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="michael"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 55vh;
        background-color: #cbc6c6; }
        main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="michael"] article div {
          position: relative;
          display: inline-block;
          left: 12vw; }
          main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="michael"] article div img {
            height: 15vh;
            width: 8vw; }
    main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div img[data-tipo="demogorgon"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="demogorgon"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh; }
      main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="demogorgon"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 55vh;
        background-color: #cbc6c6; }
        main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="demogorgon"] article div {
          position: relative;
          display: inline-block;
          left: 15vw; }
          main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="demogorgon"] article div img {
            height: 15vh;
            width: 8vw; }

main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] {
  position: relative;
  height: 140vh; }
  main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] p[data-tipo="dbd-letra-supervivientes"] {
    font-size: 4em;
    color: #5cd3f4;
    text-align: end;
    padding-bottom: 5vh; }
  main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Nea"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Nea"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 55vh;
        background-color: #cbc6c6; }
        main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Nea"] article div {
          position: relative;
          display: inline-block;
          left: 15vw;
          bottom: 2vh; }
          main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Nea"] article div img {
            height: 15vh;
            width: 8vw; }
    main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div img[dato-tipo="Nea"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Bill"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Bill"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 52vh;
        background-color: #cbc6c6; }
        main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Bill"] article div {
          position: relative;
          display: inline-block;
          left: 15vw;
          bottom: 2vh; }
          main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Bill"] article div img {
            height: 15vh;
            width: 8vw; }
    main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div img[dato-tipo="Bill"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw; }

@font-face {
  font-family: killer;
  src: url("../assets/FUENTES/terror_pro.ttf"); }

header nav[data-tipo="nav-left"] {
  position: relative;
  left: 40vw;
  top: 5vh; }
  header nav[data-tipo="nav-left"] ul {
    display: flex;
    flex-direction: row;
    gap: 7em;
    list-style-type: none; }
    header nav[data-tipo="nav-left"] ul li {
      font-size: 20px;
      border: 1px solid gray;
      border-radius: 10px;
      padding: 3px 3px; }
      header nav[data-tipo="nav-left"] ul li:hover {
        border: 1px solid black;
        padding: 3px 3px;
        border-radius: 10px;
        background-color: black; }
      header nav[data-tipo="nav-left"] ul li a {
        text-decoration: none;
        color: black; }
        header nav[data-tipo="nav-left"] ul li a:hover {
          color: white; }

main[data-tipo="left-main"] h1 {
  color: black;
  position: relative;
  left: 35vw;
  bottom: 3vh; }

main[data-tipo="left-main"] div[data-tipo="asesinos-left"] {
  position: relative;
  height: 140vh; }
  main[data-tipo="left-main"] div[data-tipo="asesinos-left"] p[data-tipo="left-letra-asesinos"] {
    font-family: killer;
    font-size: 4em;
    color: red;
    padding-bottom: 5vh; }
  main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div img[data-tipo="smoker"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="smoker"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="smoker"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
        main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="smoker"] article p {
          text-align: justify;
          font-size: 17px; }
    main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div img[data-tipo="charger"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw;
      padding-top: 5vh; }
    main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="charger"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      padding-top: 5vh; }
      main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="charger"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
        main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="charger"] article p {
          text-align: justify;
          font-size: 16px; }

main[data-tipo="left-main"] div[data-tipo=supervivientes-left] {
  position: relative;
  height: 140vh; }
  main[data-tipo="left-main"] div[data-tipo=supervivientes-left] p[data-tipo="left-letra-supervivientes"] {
    font-size: 4em;
    color: #5cd3f4;
    text-align: end;
    padding-bottom: 5vh; }
  main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Ellis"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Ellis"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
        main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Ellis"] article p {
          text-align: justify;
          font-size: 16px; }
    main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div img[dato-tipo="Ellis"] {
      position: relative;
      height: 75vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Nick"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Nick"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
        main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Nick"] article p {
          text-align: justify;
          font-size: 18px; }
    main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div img[dato-tipo="Nick"] {
      position: relative;
      height: 75vh;
      width: 20vw;
      left: 5vw;
      padding-top: 5vh; }

@font-face {
  font-family: killer;
  src: url("../assets/FUENTES/terror_pro.ttf"); }

header nav[data-tipo="nav-texas"] {
  position: relative;
  left: 40vw;
  top: 5vh; }
  header nav[data-tipo="nav-texas"] ul {
    display: flex;
    flex-direction: row;
    gap: 7em;
    list-style-type: none; }
    header nav[data-tipo="nav-texas"] ul li {
      font-size: 20px;
      border: 1px solid gray;
      border-radius: 10px;
      padding: 3px 3px; }
      header nav[data-tipo="nav-texas"] ul li:hover {
        border: 1px solid #f09696;
        padding: 3px 3px;
        border-radius: 10px;
        background-color: #f09696; }
      header nav[data-tipo="nav-texas"] ul li a {
        text-decoration: none;
        color: black; }
        header nav[data-tipo="nav-texas"] ul li a:hover {
          color: white; }

main[data-tipo="texas-main"] h1 {
  color: #f8aaaa;
  position: relative;
  left: 19vw;
  bottom: 3vh;
  width: 70vw; }

main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] {
  position: relative;
  height: 140vh; }
  main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] p[data-tipo="texas-letra-asesinos"] {
    font-family: killer;
    font-size: 4em;
    color: red;
    padding-bottom: 5vh;
    position: relative; }
  main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div img[data-tipo="leatherface"] {
      position: relative;
      height: 70vh;
      width: 20vw;
      left: 8vw; }
    main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="leatherface"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="leatherface"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 35vh;
        background-color: #cbc6c6; }
        main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="leatherface"] article p {
          text-align: justify;
          font-size: 20px; }
    main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div img[data-tipo="cook"] {
      position: relative;
      height: 70vh;
      width: 15vw;
      left: 10vw;
      padding-top: 5vh; }
    main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="cook"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      padding-top: 5vh; }
      main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="cook"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 35vh;
        background-color: #cbc6c6;
        top: 4vh; }
        main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="cook"] article p {
          text-align: justify;
          font-size: 20px; }

main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] {
  position: relative;
  height: 140vh;
  top: 20vh; }
  main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] p[data-tipo="texas-letra-supervivientes"] {
    font-size: 4em;
    color: #5cd3f4;
    text-align: end;
    padding-bottom: 5vh; }
  main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="leland"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="leland"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
        main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="leland"] article p {
          text-align: justify;
          font-size: 18px; }
    main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div img[dato-tipo="leland"] {
      position: relative;
      height: 75vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="connie"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="connie"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 37vh;
        background-color: #cbc6c6; }
        main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="connie"] article p {
          text-align: justify;
          font-size: 20px; }
    main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div img[dato-tipo="connie"] {
      position: relative;
      height: 75vh;
      width: 20vw;
      left: 5vw;
      padding-top: 5vh; }

footer {
  height: 20vh;
  align-content: center;
  text-align: center;
  justify-content: center; }
  footer hr[data-tipo="primero"] {
    width: 37vw;
    position: relative;
    color: red;
    top: 7vh; }
  footer a[data-tipo="steam"] {
    font-size: 50px;
    text-decoration: none;
    color: black;
    margin-right: 20px; }
  footer a[data-tipo="twiter"] {
    font-size: 50px;
    text-decoration: none;
    color: #1fa8e3;
    margin-right: 20px; }
  footer a[data-tipo="facebook"] {
    font-size: 50px;
    text-decoration: none;
    color: #3b0ce4;
    margin-right: 20px; }
  footer a[data-tipo="youtuve"] {
    font-size: 50px;
    text-decoration: none;
    color: red; }
  footer hr[data-tipo="segundo"] {
    width: 37.93vw;
    position: relative;
    color: gray;
    bottom: 8vh;
    left: 61vw;
    position: relative; }
