* {
  margin: 0;
  box-sizing: border-box; }

header {
  height: 30vh;
  display: flex;
  flex-direction: row; }
  header nav h1 {
    display: inline-block;
    position: relative;
    color: blue;
    width: 50vw;
    height: 13vh;
    top: 3vh;
    left: 10vw;
    font-size: 80px;
    font-style: italic; }
  header nav img {
    display: inline-block;
    position: relative;
    height: 20vh;
    left: 30vw;
    top: 2vh; }
  header nav p {
    position: relative;
    left: 83vw;
    font-size: 20px;
    font-weight: bold;
    width: 5vw;
    animation: changeColor 2s linear infinite;
    top: 2vh; }

@keyframes changeColor {
  0% {
    color: red; }
  /* Define el color inicial */
  25% {
    color: blue; }
  /* Cambia el color al 25% del tiempo */
  50% {
    color: green; }
  /* Cambia el color al 50% del tiempo */
  75% {
    color: orange; }
  /* Cambia el color al 75% del tiempo */
  100% {
    color: red; }
  /* Vuelve al color inicial al final */ }

main {
  position: relative;
  height: 90vh; }
  main div[data-tipo="primero"] {
    position: relative;
    width: 1400px;
    height: 600px;
    overflow: hidden;
    left: 60px; }
    main div[data-tipo="primero"] img {
      width: 100%;
      height: 100%;
      position: relative;
      opacity: 1;
      transition: opacity 0.5s ease-in-out; }
    main div[data-tipo="primero"]:target {
      opacity: 1; }
  main div[data-tipo="segundo"] {
    position: relative;
    top: 2vh;
    transform: translateX(-50%);
    width: 15vw;
    left: 50vw;
    text-align: center; }
    main div[data-tipo="segundo"] a {
      display: inline-block;
      position: relative;
      width: 20px;
      height: 20px;
      background-color: #b6b5b9;
      border-radius: 50%;
      margin: 0 5px;
      /*left: 55vw;*/
      /*color: white;*/
      text-decoration: none;
      line-height: 20px; }
      main div[data-tipo="segundo"] a:hover {
        background-color: gray; }
  main div[data-tipo="tercero"] {
    position: relative;
    top: 15vh;
    height: 70vh;
    display: grid;
    grid-template-areas: "dota2 deadby" "left4 texass";
    justify-content: center;
    grid-gap: 10%; }
    main div[data-tipo="tercero"] a div[data-tipo="tres.1"] {
      grid-area: dota2;
      position: relative;
      height: 30vh;
      width: 25vw;
      background-image: url("../assets/IMG/index/DOTA/Dota2.jpg");
      background-size: cover; }
      main div[data-tipo="tercero"] a div[data-tipo="tres.1"]:hover {
        background-image: url("../assets/IMG/index/DOTA/Dota2-1.png"); }
    main div[data-tipo="tercero"] a div[data-tipo="tres.2"] {
      grid-area: deadby;
      position: relative;
      height: 30vh;
      width: 25vw;
      background-image: url("../assets/IMG/index/DBD/DBD.jpg");
      background-size: cover; }
      main div[data-tipo="tercero"] a div[data-tipo="tres.2"]:hover {
        background-image: url("../assets/IMG/index/DBD/DBD-1.jpg"); }
    main div[data-tipo="tercero"] a div[data-tipo="tres.3"] {
      grid-area: left4;
      position: relative;
      height: 30vh;
      width: 25vw;
      background-image: url("../assets/IMG/index/LEFT/Left.jpg");
      background-size: cover; }
      main div[data-tipo="tercero"] a div[data-tipo="tres.3"]:hover {
        background-image: url("../assets/IMG/index/LEFT/left-1.jpg"); }
    main div[data-tipo="tercero"] a div[data-tipo="tres.4"] {
      grid-area: texass;
      position: relative;
      height: 30vh;
      width: 25vw;
      background-image: url("../assets/IMG/index/TEXAS/Texas.jpg");
      background-size: cover; }
      main div[data-tipo="tercero"] a div[data-tipo="tres.4"]:hover {
        background-image: url("../assets/IMG/index/TEXAS/Texas-1.png"); }

header nav[data-tipo="dota-header"] {
  position: relative;
  height: 10vh; }
  header nav[data-tipo="dota-header"] a img {
    position: relative;
    height: 5vh;
    width: 5vw;
    left: -10px;
    top: -5vh; }
  header nav[data-tipo="dota-header"] h1 {
    position: relative;
    left: 36vw;
    color: gray;
    height: 5vh;
    width: 80vw; }

@media screen and (max-width: 400px) {
  header nav[data-tipo="dota-header"] {
    position: relative;
    height: 10vh; }
    header nav[data-tipo="dota-header"] a img {
      position: relative;
      height: 5vh;
      width: 10vw;
      top: -1vh;
      left: 1vw; }
    header nav[data-tipo="dota-header"] h1[data-tipo="titulo-dota"] {
      position: relative;
      left: 20vw;
      color: gray;
      height: 10vh;
      width: 80vw;
      font-size: 3rem; } }

main[data-tipo="dota-main"] p {
  font-size: 4em;
  color: blue; }

main[data-tipo="dota-main"] div {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  gap: 10px;
  top: 5vh; }
  main[data-tipo="dota-main"] div img {
    position: relative;
    height: 65vh;
    width: 20vw;
    left: 5vw; }
  main[data-tipo="dota-main"] div div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    main[data-tipo="dota-main"] div div article {
      position: relative;
      border: 1px solid;
      border-radius: 30px;
      padding: 10px;
      width: 65vw;
      height: 50vh;
      background-color: #cbc6c6;
      top: -5vh; }
      main[data-tipo="dota-main"] div div article div {
        position: relative;
        display: inline-block;
        top: 5vh;
        left: 6vw; }
        main[data-tipo="dota-main"] div div article div img {
          width: 10vw;
          height: 15vh; }

@media screen and (max-width: 400px) {
  main[data-tipo="dota-main"] {
    top: -10vh; }
    main[data-tipo="dota-main"] p {
      font-size: 2em;
      color: blue;
      text-align: center; }
    main[data-tipo="dota-main"] div {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto;
      gap: 10px;
      top: 5vh; }
      main[data-tipo="dota-main"] div img {
        position: relative;
        height: 50vh;
        width: 30vw;
        left: 2vw; }
      main[data-tipo="dota-main"] div div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        main[data-tipo="dota-main"] div div article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 65vw;
          height: 30vh;
          background-color: #cbc6c6;
          top: -5vh;
          left: -2vw; }
          main[data-tipo="dota-main"] div div article div {
            position: relative;
            display: inline-block;
            top: 1vh;
            left: 6vw; }
            main[data-tipo="dota-main"] div div article div img {
              width: 10vw;
              height: 10vh; } }

header nav[data-tipo="dbd-header"] {
  position: relative;
  height: 10vh; }
  header nav[data-tipo="dbd-header"] a img {
    position: relative;
    height: 5vh;
    width: 5vw;
    left: -10px;
    top: -5vh; }
  header nav[data-tipo="dbd-header"] h1 {
    position: relative;
    left: 25vw;
    color: gray;
    height: 5vh;
    width: 80vw; }

main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] {
  position: relative;
  height: 140vh; }
  main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] p[data-tipo="dbd-letra-asesinos"] {
    font-family: killer;
    font-size: 4em;
    color: red;
    padding-bottom: 5vh; }
  main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div img[data-tipo="michael"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="michael"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh; }
      main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="michael"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 55vh;
        background-color: #cbc6c6; }
        main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="michael"] article div {
          position: relative;
          display: inline-block;
          left: 12vw; }
          main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="michael"] article div img {
            height: 15vh;
            width: 8vw; }
    main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div img[data-tipo="demogorgon"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="demogorgon"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh; }
      main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="demogorgon"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 55vh;
        background-color: #cbc6c6; }
        main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="demogorgon"] article div {
          position: relative;
          display: inline-block;
          left: 15vw; }
          main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="demogorgon"] article div img {
            height: 15vh;
            width: 8vw; }

main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] {
  position: relative;
  height: 140vh; }
  main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] p[data-tipo="dbd-letra-supervivientes"] {
    font-size: 4em;
    color: #5cd3f4;
    text-align: end;
    padding-bottom: 5vh; }
  main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Nea"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Nea"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 55vh;
        background-color: #cbc6c6; }
        main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Nea"] article div {
          position: relative;
          display: inline-block;
          left: 15vw;
          bottom: 2vh; }
          main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Nea"] article div img {
            height: 15vh;
            width: 8vw; }
    main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div img[dato-tipo="Nea"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Bill"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Bill"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 52vh;
        background-color: #cbc6c6; }
        main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Bill"] article div {
          position: relative;
          display: inline-block;
          left: 15vw;
          bottom: 2vh; }
          main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Bill"] article div img {
            height: 15vh;
            width: 8vw; }
    main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div img[dato-tipo="Bill"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw; }

@font-face {
  font-family: killer;
  src: url("../assets/FUENTES/terror_pro.ttf"); }

header nav[data-tipo="left-header"] {
  position: relative;
  height: 10vh; }
  header nav[data-tipo="left-header"] a img {
    position: relative;
    height: 5vh;
    width: 5vw;
    left: -10px;
    top: -5vh; }
  header nav[data-tipo="left-header"] h1 {
    position: relative;
    left: 29vw;
    color: gray;
    height: 5vh;
    width: 80vw; }

@media screen and (max-width: 400px) {
  header nav[data-tipo="left-header"] {
    position: relative;
    height: 10vh; }
    header nav[data-tipo="left-header"] a img {
      position: relative;
      height: 5vh;
      width: 10vw;
      top: -1vh;
      left: 1vw; }
    header nav[data-tipo="left-header"] h1[data-tipo="titulo-left"] {
      position: relative;
      left: 10vw;
      color: gray;
      height: 10vh;
      width: 80vw;
      font-size: 2.5rem; } }

main[data-tipo="left-main"] div[data-tipo="asesinos-left"] {
  position: relative;
  height: 140vh; }
  main[data-tipo="left-main"] div[data-tipo="asesinos-left"] p[data-tipo="left-letra-asesinos"] {
    font-family: killer;
    font-size: 4em;
    color: red;
    padding-bottom: 5vh; }
  main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div img[data-tipo="smoker"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="smoker"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="smoker"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
    main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div img[data-tipo="charger"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw;
      padding-top: 5vh; }
    main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="charger"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      padding-top: 5vh; }
      main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="charger"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }

main[data-tipo="left-main"] div[data-tipo=supervivientes-left] {
  position: relative;
  height: 140vh; }
  main[data-tipo="left-main"] div[data-tipo=supervivientes-left] p[data-tipo="left-letra-supervivientes"] {
    font-size: 4em;
    color: #5cd3f4;
    text-align: end;
    padding-bottom: 5vh; }
  main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Ellis"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Ellis"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
    main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div img[dato-tipo="Ellis"] {
      position: relative;
      height: 75vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Nick"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Nick"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
    main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div img[dato-tipo="Nick"] {
      position: relative;
      height: 75vh;
      width: 20vw;
      left: 5vw;
      padding-top: 5vh; }

@media screen and (max-width: 400px) {
  main[data-tipo="left-main"] div[data-tipo="asesinos-left"] {
    position: relative;
    height: 140vh;
    top: -6vh; }
    main[data-tipo="left-main"] div[data-tipo="asesinos-left"] p[data-tipo="left-letra-asesinos"] {
      position: relative;
      font-family: killer;
      font-size: 2em;
      color: red;
      top: -5vh; }
    main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto;
      gap: 10px;
      top: -5vh; }
      main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div img[data-tipo="smoker"] {
        position: relative;
        height: 65vh;
        width: 35vw;
        left: 2vw; }
      main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="smoker"] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="smoker"] article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 60vw;
          height: 60vh;
          background-color: #cbc6c6;
          top: 5vh; }
      main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div img[data-tipo="charger"] {
        position: relative;
        height: 70vh;
        width: 30vw;
        left: 2vw; }
      main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="charger"] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        padding-top: 5vh; }
        main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="charger"] article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 60vw;
          height: 60vh;
          top: 9.5vh;
          background-color: #cbc6c6; }
  main[data-tipo="left-main"] div[data-tipo=supervivientes-left] {
    position: relative;
    height: 140vh;
    top: 5vh; }
    main[data-tipo="left-main"] div[data-tipo=supervivientes-left] p[data-tipo="left-letra-supervivientes"] {
      font-size: 2em;
      color: #5cd3f4;
      text-align: center;
      padding-bottom: 5vh; }
    main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div {
      position: relative;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;
      gap: 10px; }
      main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Ellis"] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Ellis"] article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 60vw;
          height: 65vh;
          background-color: #cbc6c6; }
      main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div img[dato-tipo="Ellis"] {
        position: relative;
        height: 70vh;
        width: 30vw;
        left: -1vw; }
      main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Nick"] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Nick"] article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 60vw;
          height: 60vh;
          background-color: #cbc6c6;
          top: 3vh; }
      main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div img[dato-tipo="Nick"] {
        position: relative;
        height: 75vh;
        width: 35vw;
        left: -3vw; } }

@font-face {
  font-family: killer;
  src: url("../assets/FUENTES/terror_pro.ttf"); }

header nav[data-tipo="texas-header"] {
  position: relative;
  height: 10vh; }
  header nav[data-tipo="texas-header"] a img {
    position: relative;
    height: 5vh;
    width: 5vw;
    left: -10px;
    top: -5vh; }
  header nav[data-tipo="texas-header"] h1[data-tipo="titulo-texas"] {
    position: relative;
    left: 10vw;
    color: gray;
    height: 10vh;
    width: 80vw; }

@media screen and (max-width: 400px) {
  header nav[data-tipo="texas-header"] {
    position: relative;
    height: 10vh; }
    header nav[data-tipo="texas-header"] a img {
      position: relative;
      height: 5vh;
      width: 10vw;
      top: -5vh;
      left: 2vw; }
    header nav[data-tipo="texas-header"] h1[data-tipo="titulo-texas"] {
      position: relative;
      left: 10vw;
      color: gray;
      height: 10vh;
      width: 80vw;
      font-size: 2.5rem; } }

main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] {
  position: relative;
  height: 140vh; }
  main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] p[data-tipo="texas-letra-asesinos"] {
    font-family: killer;
    font-size: 4em;
    color: red;
    padding-bottom: 5vh; }
  main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div img[data-tipo="leatherface"] {
      position: relative;
      height: 70vh;
      width: 15vw;
      left: 8vw; }
    main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="leatherface"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="leatherface"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
    main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div img[data-tipo="cook"] {
      position: relative;
      height: 70vh;
      width: 15vw;
      left: 8vw;
      padding-top: 5vh; }
    main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="cook"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      padding-top: 5vh; }
      main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="cook"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }

main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] {
  position: relative;
  height: 140vh;
  top: 20vh; }
  main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] p[data-tipo="texas-letra-supervivientes"] {
    font-size: 4em;
    color: #5cd3f4;
    text-align: end;
    padding-bottom: 5vh; }
  main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="leland"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="leland"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
    main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div img[dato-tipo="leland"] {
      position: relative;
      height: 75vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="connie"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="connie"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
    main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div img[dato-tipo="connie"] {
      position: relative;
      height: 75vh;
      width: 20vw;
      left: 5vw;
      padding-top: 5vh; }

@media screen and (max-width: 400px) {
  main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] {
    position: relative;
    height: 140vh; }
    main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] p[data-tipo="texas-letra-asesinos"] {
      position: relative;
      font-family: killer;
      font-size: 2em;
      color: red;
      top: -5vh; }
    main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto;
      gap: 10px;
      top: -5vh; }
      main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div img[data-tipo="leatherface"] {
        position: relative;
        height: 70vh;
        width: 30vw;
        left: 2vw; }
      main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="leatherface"] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="leatherface"] article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 60vw;
          height: 60vh;
          background-color: #cbc6c6;
          top: 5vh; }
      main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div img[data-tipo="cook"] {
        position: relative;
        height: 70vh;
        width: 30vw;
        left: 2vw; }
      main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="cook"] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        padding-top: 5vh; }
        main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="cook"] article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 60vw;
          height: 60vh;
          top: 9.5vh;
          background-color: #cbc6c6; }
  main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] {
    position: relative;
    height: 140vh;
    top: 20vh; }
    main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] p[data-tipo="texas-letra-supervivientes"] {
      font-size: 2em;
      color: #5cd3f4;
      text-align: center;
      padding-bottom: 5vh; }
    main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div {
      position: relative;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;
      gap: 10px; }
      main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="leland"] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="leland"] article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 60vw;
          height: 65vh;
          background-color: #cbc6c6; }
      main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div img[dato-tipo="leland"] {
        position: relative;
        height: 70vh;
        width: 30vw;
        left: -1vw; }
      main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="connie"] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="connie"] article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 60vw;
          height: 60vh;
          background-color: #cbc6c6;
          top: 3vh; }
      main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div img[dato-tipo="connie"] {
        position: relative;
        height: 70vh;
        width: 30vw;
        left: -1vw; } }

header nav[data-tipo="dota-header"] {
  position: relative;
  height: 10vh; }
  header nav[data-tipo="dota-header"] a img {
    position: relative;
    height: 5vh;
    width: 5vw;
    left: -10px;
    top: -5vh; }
  header nav[data-tipo="dota-header"] h1 {
    position: relative;
    left: 36vw;
    color: gray;
    height: 5vh;
    width: 80vw; }

@media screen and (max-width: 400px) {
  header nav[data-tipo="dota-header"] {
    position: relative;
    height: 10vh; }
    header nav[data-tipo="dota-header"] a img {
      position: relative;
      height: 5vh;
      width: 10vw;
      top: -1vh;
      left: 1vw; }
    header nav[data-tipo="dota-header"] h1[data-tipo="titulo-dota"] {
      position: relative;
      left: 20vw;
      color: gray;
      height: 10vh;
      width: 80vw;
      font-size: 3rem; } }

main[data-tipo="dota-main"] p {
  font-size: 4em;
  color: blue; }

main[data-tipo="dota-main"] div {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  gap: 10px;
  top: 5vh; }
  main[data-tipo="dota-main"] div img {
    position: relative;
    height: 65vh;
    width: 20vw;
    left: 5vw; }
  main[data-tipo="dota-main"] div div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    main[data-tipo="dota-main"] div div article {
      position: relative;
      border: 1px solid;
      border-radius: 30px;
      padding: 10px;
      width: 65vw;
      height: 50vh;
      background-color: #cbc6c6;
      top: -5vh; }
      main[data-tipo="dota-main"] div div article div {
        position: relative;
        display: inline-block;
        top: 5vh;
        left: 6vw; }
        main[data-tipo="dota-main"] div div article div img {
          width: 10vw;
          height: 15vh; }

@media screen and (max-width: 400px) {
  main[data-tipo="dota-main"] {
    top: -10vh; }
    main[data-tipo="dota-main"] p {
      font-size: 2em;
      color: blue;
      text-align: center; }
    main[data-tipo="dota-main"] div {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto;
      gap: 10px;
      top: 5vh; }
      main[data-tipo="dota-main"] div img {
        position: relative;
        height: 50vh;
        width: 30vw;
        left: 2vw; }
      main[data-tipo="dota-main"] div div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        main[data-tipo="dota-main"] div div article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 65vw;
          height: 30vh;
          background-color: #cbc6c6;
          top: -5vh;
          left: -2vw; }
          main[data-tipo="dota-main"] div div article div {
            position: relative;
            display: inline-block;
            top: 1vh;
            left: 6vw; }
            main[data-tipo="dota-main"] div div article div img {
              width: 10vw;
              height: 10vh; } }

header nav[data-tipo="dbd-header"] {
  position: relative;
  height: 10vh; }
  header nav[data-tipo="dbd-header"] a img {
    position: relative;
    height: 5vh;
    width: 5vw;
    left: -10px;
    top: -5vh; }
  header nav[data-tipo="dbd-header"] h1 {
    position: relative;
    left: 25vw;
    color: gray;
    height: 5vh;
    width: 80vw; }

main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] {
  position: relative;
  height: 140vh; }
  main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] p[data-tipo="dbd-letra-asesinos"] {
    font-family: killer;
    font-size: 4em;
    color: red;
    padding-bottom: 5vh; }
  main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div img[data-tipo="michael"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="michael"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh; }
      main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="michael"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 55vh;
        background-color: #cbc6c6; }
        main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="michael"] article div {
          position: relative;
          display: inline-block;
          left: 12vw; }
          main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="michael"] article div img {
            height: 15vh;
            width: 8vw; }
    main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div img[data-tipo="demogorgon"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="demogorgon"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh; }
      main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="demogorgon"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 55vh;
        background-color: #cbc6c6; }
        main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="demogorgon"] article div {
          position: relative;
          display: inline-block;
          left: 15vw; }
          main[data-tipo="dbd-main"] div[data-tipo="asesinos-dbd"] div div[data-tipo="demogorgon"] article div img {
            height: 15vh;
            width: 8vw; }

main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] {
  position: relative;
  height: 140vh; }
  main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] p[data-tipo="dbd-letra-supervivientes"] {
    font-size: 4em;
    color: #5cd3f4;
    text-align: end;
    padding-bottom: 5vh; }
  main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Nea"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Nea"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 55vh;
        background-color: #cbc6c6; }
        main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Nea"] article div {
          position: relative;
          display: inline-block;
          left: 15vw;
          bottom: 2vh; }
          main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Nea"] article div img {
            height: 15vh;
            width: 8vw; }
    main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div img[dato-tipo="Nea"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Bill"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Bill"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 52vh;
        background-color: #cbc6c6; }
        main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Bill"] article div {
          position: relative;
          display: inline-block;
          left: 15vw;
          bottom: 2vh; }
          main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div div[dato-tipo="Bill"] article div img {
            height: 15vh;
            width: 8vw; }
    main[data-tipo="dbd-main"] div[data-tipo=supervivientes-dbd] div img[dato-tipo="Bill"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw; }

@font-face {
  font-family: killer;
  src: url("../assets/FUENTES/terror_pro.ttf"); }

header nav[data-tipo="left-header"] {
  position: relative;
  height: 10vh; }
  header nav[data-tipo="left-header"] a img {
    position: relative;
    height: 5vh;
    width: 5vw;
    left: -10px;
    top: -5vh; }
  header nav[data-tipo="left-header"] h1 {
    position: relative;
    left: 29vw;
    color: gray;
    height: 5vh;
    width: 80vw; }

@media screen and (max-width: 400px) {
  header nav[data-tipo="left-header"] {
    position: relative;
    height: 10vh; }
    header nav[data-tipo="left-header"] a img {
      position: relative;
      height: 5vh;
      width: 10vw;
      top: -1vh;
      left: 1vw; }
    header nav[data-tipo="left-header"] h1[data-tipo="titulo-left"] {
      position: relative;
      left: 10vw;
      color: gray;
      height: 10vh;
      width: 80vw;
      font-size: 2.5rem; } }

main[data-tipo="left-main"] div[data-tipo="asesinos-left"] {
  position: relative;
  height: 140vh; }
  main[data-tipo="left-main"] div[data-tipo="asesinos-left"] p[data-tipo="left-letra-asesinos"] {
    font-family: killer;
    font-size: 4em;
    color: red;
    padding-bottom: 5vh; }
  main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div img[data-tipo="smoker"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="smoker"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="smoker"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
    main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div img[data-tipo="charger"] {
      position: relative;
      height: 60vh;
      width: 20vw;
      left: 5vw;
      padding-top: 5vh; }
    main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="charger"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      padding-top: 5vh; }
      main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="charger"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }

main[data-tipo="left-main"] div[data-tipo=supervivientes-left] {
  position: relative;
  height: 140vh; }
  main[data-tipo="left-main"] div[data-tipo=supervivientes-left] p[data-tipo="left-letra-supervivientes"] {
    font-size: 4em;
    color: #5cd3f4;
    text-align: end;
    padding-bottom: 5vh; }
  main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Ellis"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Ellis"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
    main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div img[dato-tipo="Ellis"] {
      position: relative;
      height: 75vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Nick"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Nick"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
    main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div img[dato-tipo="Nick"] {
      position: relative;
      height: 75vh;
      width: 20vw;
      left: 5vw;
      padding-top: 5vh; }

@media screen and (max-width: 400px) {
  main[data-tipo="left-main"] div[data-tipo="asesinos-left"] {
    position: relative;
    height: 140vh;
    top: -6vh; }
    main[data-tipo="left-main"] div[data-tipo="asesinos-left"] p[data-tipo="left-letra-asesinos"] {
      position: relative;
      font-family: killer;
      font-size: 2em;
      color: red;
      top: -5vh; }
    main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto;
      gap: 10px;
      top: -5vh; }
      main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div img[data-tipo="smoker"] {
        position: relative;
        height: 65vh;
        width: 35vw;
        left: 2vw; }
      main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="smoker"] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="smoker"] article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 60vw;
          height: 60vh;
          background-color: #cbc6c6;
          top: 5vh; }
      main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div img[data-tipo="charger"] {
        position: relative;
        height: 70vh;
        width: 30vw;
        left: 2vw; }
      main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="charger"] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        padding-top: 5vh; }
        main[data-tipo="left-main"] div[data-tipo="asesinos-left"] div div[data-tipo="charger"] article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 60vw;
          height: 60vh;
          top: 9.5vh;
          background-color: #cbc6c6; }
  main[data-tipo="left-main"] div[data-tipo=supervivientes-left] {
    position: relative;
    height: 140vh;
    top: 5vh; }
    main[data-tipo="left-main"] div[data-tipo=supervivientes-left] p[data-tipo="left-letra-supervivientes"] {
      font-size: 2em;
      color: #5cd3f4;
      text-align: center;
      padding-bottom: 5vh; }
    main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div {
      position: relative;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;
      gap: 10px; }
      main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Ellis"] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Ellis"] article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 60vw;
          height: 65vh;
          background-color: #cbc6c6; }
      main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div img[dato-tipo="Ellis"] {
        position: relative;
        height: 70vh;
        width: 30vw;
        left: -1vw; }
      main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Nick"] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div div[dato-tipo="Nick"] article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 60vw;
          height: 60vh;
          background-color: #cbc6c6;
          top: 3vh; }
      main[data-tipo="left-main"] div[data-tipo=supervivientes-left] div img[dato-tipo="Nick"] {
        position: relative;
        height: 75vh;
        width: 35vw;
        left: -3vw; } }

@font-face {
  font-family: killer;
  src: url("../assets/FUENTES/terror_pro.ttf"); }

header nav[data-tipo="texas-header"] {
  position: relative;
  height: 10vh; }
  header nav[data-tipo="texas-header"] a img {
    position: relative;
    height: 5vh;
    width: 5vw;
    left: -10px;
    top: -5vh; }
  header nav[data-tipo="texas-header"] h1[data-tipo="titulo-texas"] {
    position: relative;
    left: 10vw;
    color: gray;
    height: 10vh;
    width: 80vw; }

@media screen and (max-width: 400px) {
  header nav[data-tipo="texas-header"] {
    position: relative;
    height: 10vh; }
    header nav[data-tipo="texas-header"] a img {
      position: relative;
      height: 5vh;
      width: 10vw;
      top: -5vh;
      left: 2vw; }
    header nav[data-tipo="texas-header"] h1[data-tipo="titulo-texas"] {
      position: relative;
      left: 10vw;
      color: gray;
      height: 10vh;
      width: 80vw;
      font-size: 2.5rem; } }

main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] {
  position: relative;
  height: 140vh; }
  main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] p[data-tipo="texas-letra-asesinos"] {
    font-family: killer;
    font-size: 4em;
    color: red;
    padding-bottom: 5vh; }
  main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div img[data-tipo="leatherface"] {
      position: relative;
      height: 70vh;
      width: 15vw;
      left: 8vw; }
    main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="leatherface"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="leatherface"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
    main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div img[data-tipo="cook"] {
      position: relative;
      height: 70vh;
      width: 15vw;
      left: 8vw;
      padding-top: 5vh; }
    main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="cook"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;
      padding-top: 5vh; }
      main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="cook"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }

main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] {
  position: relative;
  height: 140vh;
  top: 20vh; }
  main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] p[data-tipo="texas-letra-supervivientes"] {
    font-size: 4em;
    color: #5cd3f4;
    text-align: end;
    padding-bottom: 5vh; }
  main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px; }
    main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="leland"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="leland"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
    main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div img[dato-tipo="leland"] {
      position: relative;
      height: 75vh;
      width: 20vw;
      left: 5vw; }
    main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="connie"] {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="connie"] article {
        position: relative;
        border: 1px solid;
        border-radius: 30px;
        padding: 10px;
        width: 60vw;
        height: 40vh;
        background-color: #cbc6c6; }
    main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div img[dato-tipo="connie"] {
      position: relative;
      height: 75vh;
      width: 20vw;
      left: 5vw;
      padding-top: 5vh; }

@media screen and (max-width: 400px) {
  main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] {
    position: relative;
    height: 140vh; }
    main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] p[data-tipo="texas-letra-asesinos"] {
      position: relative;
      font-family: killer;
      font-size: 2em;
      color: red;
      top: -5vh; }
    main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto;
      gap: 10px;
      top: -5vh; }
      main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div img[data-tipo="leatherface"] {
        position: relative;
        height: 70vh;
        width: 30vw;
        left: 2vw; }
      main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="leatherface"] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="leatherface"] article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 60vw;
          height: 60vh;
          background-color: #cbc6c6;
          top: 5vh; }
      main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div img[data-tipo="cook"] {
        position: relative;
        height: 70vh;
        width: 30vw;
        left: 2vw; }
      main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="cook"] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        padding-top: 5vh; }
        main[data-tipo="texas-main"] div[data-tipo="asesinos-texas"] div div[data-tipo="cook"] article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 60vw;
          height: 60vh;
          top: 9.5vh;
          background-color: #cbc6c6; }
  main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] {
    position: relative;
    height: 140vh;
    top: 20vh; }
    main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] p[data-tipo="texas-letra-supervivientes"] {
      font-size: 2em;
      color: #5cd3f4;
      text-align: center;
      padding-bottom: 5vh; }
    main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div {
      position: relative;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;
      gap: 10px; }
      main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="leland"] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="leland"] article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 60vw;
          height: 65vh;
          background-color: #cbc6c6; }
      main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div img[dato-tipo="leland"] {
        position: relative;
        height: 70vh;
        width: 30vw;
        left: -1vw; }
      main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="connie"] {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div div[dato-tipo="connie"] article {
          position: relative;
          border: 1px solid;
          border-radius: 30px;
          padding: 10px;
          width: 60vw;
          height: 60vh;
          background-color: #cbc6c6;
          top: 3vh; }
      main[data-tipo="texas-main"] div[data-tipo=supervivientes-texas] div img[dato-tipo="connie"] {
        position: relative;
        height: 70vh;
        width: 30vw;
        left: -1vw; } }
