
main[data-tipo="dbd-main"] {

        div[data-tipo="asesinos-dbd"] {
            position: relative;
            height: 140vh;

            p[data-tipo="dbd-letra-asesinos"] {
                font-family: killer;
                font-size: 4em;
                color: red;
                padding-bottom: 5vh;
            }

            div {
                position: relative;
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-template-rows: auto;
                gap: 10px;
                

                img[data-tipo="michael"] {
                    position: relative;
                    height: 60vh;
                    width: 20vw;
                    left: 5vw;
                }

                div[data-tipo="michael"] {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 60vh;
                    
                    

                    article {
                        position: relative;
                        border: 1px solid;
                        border-radius: 30px;
                        padding: 10px;
                        width: 60vw;
                        height: 55vh;
                        background-color: #cbc6c6;

                        div {
                            position: relative;
                            display: inline-block;
                            left: 12vw;

                            img {
                                height: 15vh;
                                width: 8vw;
                            }
                        }
                    }
                }

                img[data-tipo="demogorgon"] {
                    position: relative;
                    height: 60vh;
                    width: 20vw;
                    left: 5vw;
                }

                div[data-tipo="demogorgon"] {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 60vh;

                    article {
                        position: relative;
                        border: 1px solid;
                        border-radius: 30px;
                        padding: 10px;
                        width: 60vw;
                        height: 55vh;
                        background-color: #cbc6c6;
                        
                        div {
                            position: relative;
                            display: inline-block;
                            left: 15vw;

                                img {
                                    height: 15vh;
                                    width: 8vw;
                                }
                        }
                    }

                }
            }


        }

        div[data-tipo=supervivientes-dbd] {
            position: relative;
            height: 140vh;

            p[data-tipo="dbd-letra-supervivientes"] {
                font-size: 4em;
                color: rgb(92, 211, 244);
                text-align: end;
                padding-bottom: 5vh;
            }

            div {
                position: relative;
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: auto;
                gap: 10px;

                div[dato-tipo="Nea"] {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    article {
                        position: relative;
                        border: 1px solid;
                        border-radius: 30px;
                        padding: 10px;
                        width: 60vw;
                        height: 55vh;
                        background-color: #cbc6c6;

                        div {
                            position: relative;
                            display: inline-block;
                            left: 15vw;
                            bottom: 2vh;

                            img {
                                height: 15vh;
                                width: 8vw;
                            }
                        }
                    }
                }

                img[dato-tipo="Nea"] {
                    position: relative;
                    height: 60vh;
                    width: 20vw;
                    left: 5vw;
                }


                div[dato-tipo="Bill"] {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    article {
                        position: relative;
                        border: 1px solid;
                        border-radius: 30px;
                        padding: 10px;
                        width: 60vw;
                        height: 52vh;
                        background-color: #cbc6c6;

                        div {
                            position: relative;
                            display: inline-block;
                            left: 15vw;
                            bottom: 2vh;

                            img {
                                height: 15vh;
                                width: 8vw;
                            }
                        }
                    }
                }

                img[dato-tipo="Bill"] {
                    position: relative;
                    height: 60vh;
                    width: 20vw;
                    left: 5vw;
                }
            }
        }
    }
