
main[data-tipo="dbd-main"] {

    height: 310vh;

    p[data-tipo="titulo-dbd"] {
        color: gray;
        position: relative;
        font-size: 600%;
        bottom: 1vh;
        width: 95vw;
        font-weight: bold;
        text-align: center;
        left: 2.5vw;
    }

        div[data-tipo="asesinos-dbd"] {
            position: relative;
            height: 140vh;

            p[data-tipo="dbd-letra-asesinos"] {
                font-family: killer;
                font-size: 400%;
                color: red;
                padding-bottom: 5vh;
            }

            div {
                position: relative;
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-template-rows: auto;
                gap: 5%;
                

                img[data-tipo="michael"] {
                    position: relative;
                    height: 60vh;
                    width: 20vw;
                    left: 5vw;
                }

                div[data-tipo="michael"] {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 60vh;
                    
                    

                    article {
                        position: relative;
                        border: 1px solid;
                        border-radius: 30px;
                        padding: 10px;
                        width: 60vw;
                        height: 50vh;
                        background-color: #cbc6c6;

                        p {
                            text-align: justify;

                        }


                        

                        div {
                            position: relative;
                            display: inline-block;
                            left: 15vw;
                            bottom: 1%;

                            img {
                                height: 15vh;
                                width: 8vw;
                                
                            }
                        }
                    }
                }

                img[data-tipo="demogorgon"] {
                    position: relative;
                    height: 60vh;
                    width: 20vw;
                    left: 5vw;
                }

                div[data-tipo="demogorgon"] {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 60vh;

                    article {
                        position: relative;
                        border: 1px solid;
                        border-radius: 30px;
                        padding: 10px;
                        width: 60vw;
                        height: 45vh;
                        background-color: #cbc6c6;

                        p {
                            text-align: justify;
                            font-size: 105%;
                        }
                        
                        div {
                            position: relative;
                            display: inline-block;
                            left: 15vw;

                                img {
                                    height: 15vh;
                                    width: 8vw;
                                }
                        }
                    }

                }
            }


        }

        div[data-tipo=supervivientes-dbd] {
            position: relative;
            height: 140vh;
            top: 10vh;

            p[data-tipo="dbd-letra-supervivientes"] {
                font-size: 4em;
                color: rgb(92, 211, 244);
                text-align: end;
                padding-bottom: 5vh;
            }

            div {
                position: relative;
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: auto;
                gap: 10px;

                div[dato-tipo="Nea"] {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    article {
                        position: relative;
                        border: 1px solid;
                        border-radius: 30px;
                        padding: 10px;
                        width: 60vw;
                        height: 55vh;
                        background-color: #cbc6c6;

                        @media screen and (max-width: 768px) {
                                width: 70vw;
                        }

                        p {
                            text-align: justify;
                            font-size: 100%;
                            

                            @media screen and (max-width: 768px) {
                                font-size: 70%;
                                width: 100%;
                        }
                        }

                        div {
                            position: relative;
                            display: inline-block;
                            left: 15vw;
                            bottom: 1vh;

                            @media screen and (max-width: 768px) {
                                left: 20vw;
                            }
                            

                            img {
                                height: 15vh;
                                width: 8vw;
                                @media screen and (max-width: 768px) {
                                    width: 10vw;
                                }
                            }
                        }
                    }
                }

                img[dato-tipo="Nea"] {
                    position: relative;
                    height: 60vh;
                    width: 20vw;
                    left: 5vw;
                }


                div[dato-tipo="Bill"] {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    article {
                        position: relative;
                        border: 1px solid;
                        border-radius: 30px;
                        padding: 10px;
                        width: 60vw;
                        height: 52vh;
                        background-color: #cbc6c6;

                        @media screen and (max-width: 768px) {
                            width: 70vw;
                        }

                        p {
                            text-align: justify;
                            font-size: 110%;
                            @media screen and (max-width: 768px) {
                                font-size: 80%;
                            }
                        }

                        div {
                            position: relative;
                            display: inline-block;
                            left: 15vw;
                            
                            @media screen and (max-width: 768px) {
                                left: 20vw;
                            }

                            img {
                                height: 15vh;
                                width: 8vw;

                                @media screen and (max-width: 768px) {
                                    width: 10vw;
                                }
                            }
                        }
                    }
                }

                img[dato-tipo="Bill"] {
                    position: relative;
                    height: 60vh;
                    width: 20vw;
                    left: 5vw;
                }
            }
        }
    }
    
    @media screen and (max-width: 768px) {
        main[data-tipo="dbd-main"] {

        
                div[data-tipo="asesinos-dbd"] {

        
                    div {

        
                        div[data-tipo="michael"] {

                            article {

                                width: 70vw;

                                p {

                                    font-size: 65%;
                                }

                                div {
                                    position: relative;
                                    display: inline-block;
                                    left: 20vw;
                                    bottom: 1%;
        
                                    img {
                                        height: 15vh;
                                        width: 10vw;
                                        
                                    }
                                }
                            }
                        }
        
                        }
        
                        div[data-tipo="demogorgon"] {

                            article[data-tipo="demo-1"] {

                                width: 70vw;
                                height: 50vh;
        
                                p {
                                    
                                    font-size: 85%;
                                }
                                
                                div {
                                    position: relative;
                                    display: inline-block;
                                    left: 20vw;
                                    bottom: 1%;
        
                                    img {
                                        height: 15vh;
                                        width: 10vw;
                                        
                                    }
                                }
                            }
        
                        }
                    }
        
        
                }
        
            }

    
    @media screen and (max-width: 420px) {
        main[data-tipo="dbd-main"] {
            position: relative;
            top: -10vh;
            height: 290vh;
        
            p[data-tipo="titulo-dbd"] {
                color: gray;
                position: relative;
                left: 3vw;
                font-size: 2.5em;
                bottom: 1vh;
                width: 95vw;
                font-weight: bold;
            }
        
                div[data-tipo="asesinos-dbd"] {
                    position: relative;
                    height: 140vh;
                    top: 5vh;
        
                    p[data-tipo="dbd-letra-asesinos"] {
                        font-family: killer;
                        font-size: 2em;
                        color: red;
                        padding-bottom: 5vh;
                    }
        
                    div {
                        position: relative;
                        display: grid;
                        grid-template-columns: 1fr 2fr;
                        grid-template-rows: auto;
                        gap: 10px;
                        
        
                        img[data-tipo="michael"] {
                            position: relative;
                            height: 60vh;
                            width: 30vw;
                            left: 5vw;
                        }
        
                        div[data-tipo="michael"] {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 60vh;
                            
                            
        
                            article {
                                position: relative;
                                border: 1px solid;
                                border-radius: 30px;
                                padding: 10px;
                                width: 55vw;
                                height: 55vh;
                                background-color: #cbc6c6;
        
                                p {
                                    text-align: justify;
                                    font-size: 50%;
                                }
        
                                div {
                                    position: relative;
                                    display: inline-block;
                                    left: 12vw;
        
                                    img {
                                        height: 8vh;
                                        width: 8vw;
                                    }
                                }
                            }
                        }
        
                        img[data-tipo="demogorgon"] {
                            position: relative;
                            height: 60vh;
                            width: 30vw;
                            left: 5vw;
                        }
        
                        div[data-tipo="demogorgon"] {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 60vh;
        
                            article[data-tipo="demo-1"] {
                                position: relative;
                                border: 1px solid;
                                border-radius: 30px;
                                padding: 10px;
                                width: 55vw;
                                height: 55vh;
                                background-color: #cbc6c6;
        
                                p {
                                    text-align: justify;
                                    font-size: 55%;
                                }
                                
                                div {
                                    position: relative;
                                    display: inline-block;
                                    left: 15vw;
        
                                        img {
                                            height: 8vh;
                                            width: 8vw;
                                        }
                                }
                            }
        
                        }
                    }
        
        
                }
        
                div[data-tipo=supervivientes-dbd] {
                    position: relative;
                    height: 140vh;
                    top: 5vh;
        
                    p[data-tipo="dbd-letra-supervivientes"] {
                        font-size: 2em;
                        color: rgb(92, 211, 244);
                        text-align: end;
                        padding-bottom: 5vh;
                    }
        
                    div {
                        position: relative;
                        display: grid;
                        grid-template-columns: 2fr 1fr;
                        grid-template-rows: auto;
                        gap: 10px;
        
                        div[dato-tipo="Nea"] {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
        
                            article {
                                position: relative;
                                border: 1px solid;
                                border-radius: 30px;
                                padding: 10px;
                                width: 60vw;
                                height: 55vh;
                                background-color: #cbc6c6;
        
                                p {
                                    text-align: justify;
                                    font-size: 45%;
                                }
        
                                div {
                                    position: relative;
                                    display: inline-block;
                                    left: 15vw;
                                    bottom: 2vh;
        
                                    img {
                                        height: 8vh;
                                        width: 8vw;
                                    }
                                }
                            }
                        }
        
                        img[dato-tipo="Nea"] {
                            position: relative;
                            height: 60vh;
                            width: 30vw;
                            left: -1vw;
                        }
        
        
                        div[dato-tipo="Bill"] {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
        
                            article {
                                position: relative;
                                border: 1px solid;
                                border-radius: 30px;
                                padding: 10px;
                                width: 60vw;
                                height: 55vh;
                                background-color: #cbc6c6;
        
                                p {
                                    text-align: justify;
                                    font-size: 55%;
                                }
        
                                div {
                                    position: relative;
                                    display: inline-block;
                                    left: 15vw;
                                    bottom: 2vh;
        
                                    img {
                                        height: 8vh;
                                        width: 8vw;
                                    }
                                }
                            }
                        }
        
                        img[dato-tipo="Bill"] {
                            position: relative;
                            height: 60vh;
                            width: 30vw;
                            left: -1vw;
                        }
                    }
                }
            }
    }
