*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: killer;
    src: url('../assets/FUENTES/terror_pro.ttf');
}


header {
    text-align: center;
    color: gray;
    height: 10vh;
}

.flechadbd {
    position: absolute;
    height: 5vh;
    width: 5vw;
    right: 94vw;
}

.killer {
    position: relative;
    height: 140vh;

.texto-killer {
    font-family: killer;
    font-size: 4em;
    color: red;
}

.tabla-killer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 10px;
    top: 5vh;

    

    .imgmichael {
        position: relative;
        height: 60vh;
        width: 20vw;
        left: 5vw;
        }

    .michael-descripcion {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .articulo-michael {
            position: relative;
            border: 1px solid;
            border-radius: 30px;
            padding: 10px;
            width: 60vw;
            height: 55vh;
            background-color: #cbc6c6;
        }

        .perks-michael {
            position: relative;
            display: inline-block;
            left: 15vw;
        }
    }

    .imgdemogorgon {
        position: relative;
        height: 60vh;
        width: 20vw;
        left: 5vw;
        
    }

    .demogorgon-descripcion {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .articulo-demogorgon {
            position: relative;
            border: 1px solid;
            border-radius: 30px;
            padding: 10px;
            width: 60vw;
            height: 55vh;
            background-color: #cbc6c6;
        }

        .perks-demogorgon {
            position: relative;
            display: inline-block;
            left: 15vw;
        }
    }
}
}

.survivor {
    position: relative;
    height: 140vh;

.texto-survivor {
    font-size: 4em;
    color: rgb(92, 211, 244);
    text-align: end;
}

.tabla-survivor {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
    top: 5vh;



    .nea-descripcion {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .articulo-nea {
            position: relative;
            border: 1px solid;
            border-radius: 30px;
            padding: 10px;
            width: 60vw;
            height: 55vh;
            background-color: #cbc6c6;
        }

        .perks-nea {
            position: relative;
            display: inline-block;
            left: 15vw;
            bottom: 2vh;
        }
    }

    .imgnea {
        position: relative;
        height: 60vh;
        width: 20vw;
        left: 5vw;
        }


    .bill-descripcion {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .articulo-bill {
            position: relative;
            border: 1px solid;
            border-radius: 30px;
            padding: 10px;
            width: 60vw;
            height: 55vh;
            background-color: #cbc6c6;
        }

        .perks-bill {
            position: relative;
            display: inline-block;
            left: 15vw;
        }
    }
            

    .imgbill {
        position: relative;
        height: 60vh;
        width: 20vw;
        left: 5vw;
        }
}
}