*{
    margin: 0;
    box-sizing: border-box;
}


header {
    text-align: center;
    color: red;
    height: 10vh;
}

.flechadota {
    position: absolute;
    height: 5vh;
    width: 5vw;
    right: 94vw;
}

.texto-heroes {
    font-size: 4em;
    color: blue;
}

.tabla-heroes {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 10px;
    top: 5vh;

    

    .imgrubick {
        position: relative;
        height: 65vh;
        width: 20vw;
        left: 5vw;
        }

    .rubick-descripcion {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .articulo-rubick {
            position: relative;
            border: 1px solid;
            border-radius: 30px;
            padding: 10px;
            width: 65vw;
            height: 50vh;
            background-color: #cbc6c6;
        }

        .habilidades-rubick {
            position: relative;
            display: inline-block;
            top: 5vh;
            left: 15vw;
        }
    }

    .imgzeus {
        position: relative;
        height: 65vh;
        width: 20vw;
        left: 5vw;
        
    }

    .zeus-descripcion {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .articulo-zeus {
            position: relative;
            border: 1px solid;
            border-radius: 30px;
            padding: 10px;
            width: 65vw;
            height: 50vh;
            background-color: #cbc6c6;
        }

        .habilidades-zeus {
            position: relative;
            display: inline-block;
            top: 5vh;
            left: 15vw;
        }
    }
}