
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 30vh;
  display: flex;
  flex-direction: row;


.titulo {
    display: inline-block;
    position: relative;
    color: blue;
    width: 50vw;
    height: 13vh;
    top: 3vh;
    left: 10vw;
    font-size: 80px;
    font-style: italic;
}

@media screen and (min-width:250px) {
  .titulo {
    font-size: 50px;
  }

}
.perfil {
    display: inline-block;
    position: relative;
    height: 20vh;
    left: 30vw;
    top: 2vh;
}

.nick {
    position: relative;
    left:83vw;
    font-size: 20px;
    font-weight: bold;
    width: 5vw;
    animation: changeColor 2s linear infinite;
    top: 2vh;
}}

@keyframes changeColor {
    0% { color: red; } /* Define el color inicial */
    25% { color: blue; } /* Cambia el color al 25% del tiempo */
    50% { color: green; } /* Cambia el color al 50% del tiempo */
    75% { color: orange; } /* Cambia el color al 75% del tiempo */
    100% { color: red; } /* Vuelve al color inicial al final */
}

.main {
  position: relative;
  height: 150vh;
  background-color: transparent;


.carrusel {
  position: relative;
  width: 1400px;
  height: 600px;
  overflow: hidden;
  left: 60px;
 
}

.carrusel-img {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.img:target {
  opacity: 1;
}

.carrusel-nav {
  position: relative;
  width: 7vw;
  left: 51vw;
  top: 2vh;
  transform: translateX(-50%);
}

.carrusel-nav a {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: rgb(182, 181, 185);
  border-radius: 50%;
  margin: 0 5px;
  text-align: center;
  color: white;
  text-decoration: none;
  line-height: 20px;
  font-family: Arial, sans-serif;
}

.carousel-nav a:hover {
  background-color: gray;
}

.juegos {
  position: relative;
  top: 15vh;
  height: 70vh;
  display: grid;
  grid-template-areas: "dota2 deadby" "left4 texass";
  justify-content: center;
  grid-gap: 10%;

  .dota {
    grid-area: dota2;
    position: relative;
    height: 30vh;
    width: 25vw;
    background-image: url('../assets/IMG/index/DOTA/Dota2.jpg');
    background-size: cover;
  }

  .dota:hover {
    background-image: url("../assets/IMG/index/DOTA/Dota2-1.png");
  }
    
    .dbd {
      grid-area: deadby;
      position: relative;
      height: 30vh;
      width: 25vw;
      background-image: url('../assets/IMG/index/DBD/DBD.jpg');
      background-size: cover;
    }

    .dbd:hover {
      background-image: url("../assets/IMG/index/DBD/DBD-1.jpg");
    }
  
    .left {
      grid-area: left4;
      position: relative;
      height: 30vh;
      width: 25vw;background-image: url('../assets/IMG/index/LEFT/Left.jpg');
      background-size: cover;
    }

    .left:hover {
      background-image: url("../assets/IMG/index/LEFT/left-1.jpg");
    }
  
    .texas {
      grid-area: texass;
      position: relative;
      height: 30vh;
      width: 25vw;
      background-image: url('../assets/IMG/index/TEXAS/Texas.jpg');
      background-size: cover;
    }

    .texas:hover {
      background-image: url("../assets/IMG/index/TEXAS/Texas-1.png");
    }
  } 
    
    }
  

  
