
header {

    nav[data-tipo="left-header"] {
        position: relative;
        height: 10vh;

        a {

            img {
                position: relative;
                height: 5vh;
                width: 5vw;
                left: -10px;
                top: -5vh;
            }
        }

        h1 {
            position  : relative;
            left: 29vw;
            color     : gray;
            height    : 5vh;
            width: 80vw;
        }

    }
}