
header {

    nav[data-tipo="left-header"] {
        position: relative;
        height: 10vh;

        a {

            img {
                position: relative;
                height: 5vh;
                width: 5vw;
                left: -10px;
                top: -5vh;
            }
        }

        h1 {
            position  : relative;
            left: 29vw;
            color     : gray;
            height    : 5vh;
            width: 80vw;
        }

    }
}

@media screen and (max-width: 400px) {
    header {

        nav[data-tipo="left-header"] {
            position: relative;
            height: 10vh;
    
            a {
    
                img {
                    position: relative;
                    height: 5vh;
                    width: 10vw;
                    top: -1vh;
                    left: 1vw;

                }
            }
    
            h1[data-tipo="titulo-left"] {
                position  : relative;
                left: 10vw;
                color     : gray;
                height    : 10vh;
                width: 80vw;
                font-size: 2.5rem;
                
            }
    
        }
    }
}