main[data-tipo="left-main"] {

    h1 {
        color: black;
        position: relative;
        left: 35vw;
        bottom: 3vh;

    }

    div[data-tipo="asesinos-left"] {
        position: relative;
        height: 140vh;

        p[data-tipo="left-letra-asesinos"] {
            font-family: killer;
            font-size: 4em;
            color: red;
            padding-bottom: 5vh;
        }

        div {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: auto;
            gap: 10px;
            

            img[data-tipo="smoker"] {
                position: relative;
                height: 60vh;
                width: 20vw;
                left: 5vw;
            }

            div[data-tipo="smoker"] {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                
                article {
                    position: relative;
                    border: 1px solid;
                    border-radius: 30px;
                    padding: 10px;
                    width: 60vw;
                    height: 40vh;
                    background-color: #cbc6c6;

                    p {
                        text-align: justify;
                        font-size: 17px;
                    }

                }
            }

            img[data-tipo="charger"] {
                position: relative;
                height: 60vh;
                width: 20vw;
                left: 5vw;
                padding-top: 5vh;
            }

            div[data-tipo="charger"] {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60vh;
                padding-top: 5vh;

                article {
                    position: relative;
                    border: 1px solid;
                    border-radius: 30px;
                    padding: 10px;
                    width: 60vw;
                    height: 40vh;
                    background-color: #cbc6c6;

                    p {
                        text-align: justify;
                        font-size: 16px;
                    }
                    
                }

            }
        }


    }

    div[data-tipo=supervivientes-left] {
        position: relative;
        height: 140vh;

        p[data-tipo="left-letra-supervivientes"] {
            font-size: 4em;
            color: rgb(92, 211, 244);
            text-align: end;
            padding-bottom: 5vh;
        }

        div {
            position: relative;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: auto;
            gap: 10px;

            div[dato-tipo="Ellis"] {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                article {
                    position: relative;
                    border: 1px solid;
                    border-radius: 30px;
                    padding: 10px;
                    width: 60vw;
                    height: 40vh;
                    background-color: #cbc6c6;

                    p {
                        text-align: justify;
                        font-size: 16px;
                    }

                }
            }

            img[dato-tipo="Ellis"] {
                position: relative;
                height: 75vh;
                width: 20vw;
                left: 5vw;
            }


            div[dato-tipo="Nick"] {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                article {
                    position: relative;
                    border: 1px solid;
                    border-radius: 30px;
                    padding: 10px;
                    width: 60vw;
                    height: 40vh;
                    background-color: #cbc6c6;

                    p {
                        text-align: justify;
                        font-size: 18px;
                    }

                    
                }
            }

            img[dato-tipo="Nick"] {
                position: relative;
                height: 75vh;
                width: 20vw;
                left: 5vw;
                padding-top: 5vh;
            }
        }
    }
}

