main[data-tipo="left-main"] {

    height: 310vh;

    @media screen and (max-width: 768px) {
        height: 340vh;
    }

    p[data-tipo="titulo-left"] {
        color: black;
        position: relative;
        font-size: 600%;
        bottom: 1vh;
        width: 85vw;
        font-weight: bold;
        text-align: center;
        left: 2vw;

        @media screen and (min-width: 768px) {
                left: 5vw;
        }

    }

    div[data-tipo="asesinos-left"] {
        position: relative;
        height: 140vh;

        p[data-tipo="left-letra-asesinos"] {
            font-family: killer;
            font-size: 400%;
            color: red;
            padding-bottom: 5vh;

            

        }

        div {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: auto;
            gap: 10px;
            

            img[data-tipo="smoker"] {
                position: relative;
                height: 60vh;
                width: 20vw;
                left: 5vw;
            }

            div[data-tipo="smoker"] {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                
                article {
                    position: relative;
                    border: 1px solid;
                    border-radius: 30px;
                    padding: 10px;
                    width: 60vw;
                    height: 40vh;
                    background-color: #cbc6c6;

                    @media screen and (max-width: 768px) {
                        height: 50vh;
                    }

                    p {
                        text-align: justify;
                        font-size: 17px;

                        @media screen and (max-width: 768px) {
                            font-size: 13.5px;
                        }
                    }

                }
            }

            img[data-tipo="charger"] {
                position: relative;
                height: 60vh;
                width: 20vw;
                left: 5vw;
                padding-top: 5vh;
            }

            div[data-tipo="charger"] {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60vh;
                padding-top: 5vh;

                article {
                    position: relative;
                    border: 1px solid;
                    border-radius: 30px;
                    padding: 10px;
                    width: 60vw;
                    height: 40vh;
                    background-color: #cbc6c6;

                    @media screen and (max-width: 768px) {
                        height: 50vh;
                    }

                    p {
                        text-align: justify;
                        font-size: 17px;

                        @media screen and (max-width: 768px) {
                            font-size: 13px;
                        }
                    }
                    
                }

            }
        }


    }

    div[data-tipo=supervivientes-left] {
        position: relative;
        height: 140vh;

        @media screen and (max-width: 768px) {
            top: 5vh;
        }

        p[data-tipo="left-letra-supervivientes"] {
            font-size: 4em;
            color: rgb(92, 211, 244);
            text-align: end;
            padding-bottom: 5vh;
        }

        div {
            position: relative;
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: auto;
            gap: 10px;

            div[dato-tipo="Ellis"] {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                article {
                    position: relative;
                    border: 1px solid;
                    border-radius: 30px;
                    padding: 10px;
                    width: 60vw;
                    height: 35vh;
                    background-color: #cbc6c6;

                    @media screen and (max-width: 768px) {
                        height: 50vh;
                    }

                    p {
                        text-align: justify;
                        font-size: 17px;
                    }

                }
            }

            img[dato-tipo="Ellis"] {
                position: relative;
                height: 75vh;
                width: 20vw;
                left: 5vw;
            }


            div[dato-tipo="Nick"] {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                article {
                    position: relative;
                    border: 1px solid;
                    border-radius: 30px;
                    padding: 10px;
                    width: 60vw;
                    height: 35vh;
                    background-color: #cbc6c6;

                    @media screen and (max-width: 768px) {
                        height: 50vh;
                    }

                    p {
                        text-align: justify;
                        font-size: 18px;
                    }

                    
                }
            }

            img[dato-tipo="Nick"] {
                position: relative;
                height: 75vh;
                width: 20vw;
                left: 5vw;
                padding-top: 5vh;
            }
        }
    }
}



@media screen and (max-width: 420px) {
    main[data-tipo="left-main"] {
        position: relative;
        height: 315vh;
        top: -10vh;
    
        p[data-tipo="titulo-left"] {
            color: black;
            position: relative;
            left: 6vw;
            font-size: 350%;
            bottom: 1vh;
            width: 90vw;
            font-weight: bold;
        }
    
        div[data-tipo="asesinos-left"] {
            position: relative;
            height: 140vh;
            top: 3vh;
    
            p[data-tipo="left-letra-asesinos"] {
                font-family: killer;
                font-size: 250%;
                color: red;
                padding-bottom: 5vh;
                width: 100vw;
            }
    
            div {
                position: relative;
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-template-rows: auto;
                gap: 10px;
                
    
                img[data-tipo="smoker"] {
                    position: relative;
                    height: 45vh;
                    width: 30vw;
                    left: 5vw;
                }
    
                div[data-tipo="smoker"] {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    article {
                        position: relative;
                        border: 1px solid;
                        border-radius: 30px;
                        padding: 10px;
                        width: 60vw;
                        height: 40vh;
                        background-color: #cbc6c6;
    
                        p {
                            text-align: justify;
                            font-size: 45%;
                        }
    
                    }
                }
    
                img[data-tipo="charger"] {
                    position: relative;
                    height: 60vh;
                    width: 30vw;
                    left: 5vw;
                    padding-top: 5vh;
                }
    
                div[data-tipo="charger"] {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 60vh;
                    padding-top: 5vh;
    
                    article {
                        position: relative;
                        border: 1px solid;
                        border-radius: 30px;
                        padding: 10px;
                        width: 60vw;
                        height: 50vh;
                        background-color: #cbc6c6;
                        top: -1vh;
    
                        p {
                            text-align: justify;
                            font-size: 50%;
                        }
                        
                    }
    
                }
            }
    
    
        }
    
        div[data-tipo=supervivientes-left] {
            position: relative;
            height: 140vh;
            top: -5vh;

    
            p[data-tipo="left-letra-supervivientes"] {
                font-size: 2em;
                color: rgb(92, 211, 244);
                text-align: end;
                padding-bottom: 5vh;
            }
    
            div {
                position: relative;
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: auto;
                gap: 10px;
    
                div[dato-tipo="Ellis"] {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    article {
                        position: relative;
                        border: 1px solid;
                        border-radius: 30px;
                        padding: 10px;
                        width: 60vw;
                        height: 55vh;
                        background-color: #cbc6c6;

    
                        p {
                            text-align: justify;
                            font-size: 70%;
                        }
    
                    }
                }
    
                img[dato-tipo="Ellis"] {
                    position: relative;
                    height: 75vh;
                    width: 25vw;
                    left: 5vw;
                }
    
    
                div[dato-tipo="Nick"] {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    article {
                        position: relative;
                        border: 1px solid;
                        border-radius: 30px;
                        padding: 10px;
                        width: 60vw;
                        height: 55vh;
                        background-color: #cbc6c6;
    
                        p {
                            text-align: justify;
                            font-size: 75%;
                        }
    
                        
                    }
                }
    
                img[dato-tipo="Nick"] {
                    position: relative;
                    height: 75vh;
                    width: 30vw;
                    left: -3vw;
                    padding-top: 5vh;
                }
            }
        }
    }
    
}