
header {
    height: 15vh;
    justify-content: center;

    input { 
        display: none;
    }

    label {
        display: none;
        cursor: pointer;
    }

    nav[data-tipo="nav-texas"] {
        position: relative;
        top: 5vh;


        @include cabezera;

    }
}



@media screen and (max-width: 420px) {
    header {
        height: 15vh;
    
        #menu-check:not(:checked) ~ nav {
            display: none;
            
        }

        #menu-check:checked ~ nav {
            display: block;
            background-color: gray;
            width: 95vw;
            height: 15vh;
            z-index: 1;
        }

        #menu {
            display: block;
            color: black;
            background-color: white;
            font-size: 20px;
            font-weight: bold;
            border-radius: 0.3em;
            position: absolute;
            
            
        }

        

        #menu-cerrar {
            display: none;
            
        }

        #menu-check:checked ~ label #menu-abrir {
            display: none;
        }

        #menu-check:checked ~ label #menu-cerrar {
            display: block;
        }

        nav[data-tipo="nav-texas"] {
            position: relative;
            left: 1vw;
            top: 5vh;
    
            ul {
                display: flex;
                flex-wrap: wrap;
                gap: 25px;
                list-style-type: none;
                
                
                li {
                    font-size: 20px;
                    border: none;
                    translate: no;
                    
    
                    &:hover {
                        border: 1px solid rgb(42, 243, 250);
                        padding: 3px 3px;
                        border-radius: 10px;
                        background-color: rgb(42, 243, 250);
                    }
    
                    a {
                        text-decoration: none;
                        color: white;
    
                        &:hover {
                            color: white;
                        }
                        
                    }
                    
                }
            }
        }
    }
}

