footer[data-tipo="footer-dota"] {
    height: 20vh;
    align-content: center;
    text-align: center;
    justify-content: center;

    hr[data-tipo="primero"] {
        width: 38%;
        position: relative;
        color: red;
        top: 20%;
    }

    a[data-tipo="steam"]{
        font-size: 350%;
        text-decoration: none;
        color: black;
        margin-right: 2%;
    }

    a[data-tipo="twiter"]{
        font-size: 350%;
        text-decoration: none;
        color: rgb(31, 168, 227);
        margin-right: 2%;
    }

    a[data-tipo="facebook"]{
        font-size: 350%;
        text-decoration: none;
        color: rgb(59, 12, 228);
        margin-right: 2%;
    }

    a[data-tipo="youtuve"]{
        font-size: 350%;
        text-decoration: none;
        color: rgb(255, 0, 0);
        
    }

    hr[data-tipo="segundo"] {
        width: 38.5%;
        position: relative;
        color: gray;
        bottom: 5vh;
        left: 61.5%;
        position: relative;
    }
}

@media screen and (min-width: 768px) {
    
}
@media screen and (max-width: 320px) {

}