footer[data-tipo="footer-dota"] {
    height: 20vh;
    align-content: center;
    text-align: center;
    justify-content: center;

    a[data-tipo="steam"]{
        font-size: 350%;
        text-decoration: none;
        color: black;
        margin-right: 2%;
    }

    a[data-tipo="twiter"]{
        font-size: 350%;
        text-decoration: none;
        color: rgb(31, 168, 227);
        margin-right: 2%;
    }

    a[data-tipo="facebook"]{
        font-size: 350%;
        text-decoration: none;
        color: rgb(59, 12, 228);
        margin-right: 2%;
    }

    a[data-tipo="youtuve"]{
        font-size: 350%;
        text-decoration: none;
        color: rgb(255, 0, 0);
        
    }

}

@media screen and (min-width: 768px) {
    
}
@media screen and (max-width: 320px) {

}