
main[data-tipo="dota-main"] {
    height: 165vh;

    p[data-tipo="titulo-dota"] {
        color: red;
        position: relative;
        left: 40vw;
        font-size: 6em;
        bottom: 1vh;
        width: 20vw;
        font-weight: bold;
    }

    p {
        font-size: 4em;
        color: blue;
        left: 5vw;
        width: 75vw;
        position: relative;
    }

    div {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        gap: 10px;
        top: 5vh;

        img {
            position: relative;
            height: 65vh;
            width: 20vw;
            left: 5vw;
        }

        div {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            article {
                position: relative;
                border: 1px solid;
                border-radius: 30px;
                padding: 10px;
                width: 65vw;
                height: 40vh;
                background-color: #cbc6c6;
                top: -5vh;

                

                div {
                    position: relative;
                    display: inline-block;
                    top: 5vh;
                    left: 6vw;

                    img {
                        width: 10vw;
                        height: 15vh;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    main[data-tipo="dota-main"] {
        top: -10vh;

        p {
            font-size: 2em;
            color: blue;
            text-align: center;
        }
    
        div {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: auto;
            gap: 10px;
            top: 5vh;
    
            img {
                position: relative;
                height: 50vh;
                width: 30vw;
                left: 2vw;
            }
    
            div {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
    
                article {
                    position: relative;
                    border: 1px solid;
                    border-radius: 30px;
                    padding: 10px;
                    width: 65vw;
                    height: 30vh;
                    background-color: #cbc6c6;
                    top: -5vh;
                    left: -2vw;
    
                    
    
                    div {
                        position: relative;
                        display: inline-block;
                        top: 1vh;
                        left: 6vw;
    
                        img {
                            width: 10vw;
                            height: 10vh;
                        }
                    }
                }
            }
        }
    }
}