div[data-tipo="primero"] {
    position: relative;
    width: 1400px;
    height: 600px;
    overflow: hidden;
    left: 60px;

    img[data-tipo="primero-1"] {
        width: 100vw;
        height: 100%;
        position: relative;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    &:target {
        opacity: 1;
    }
}

div[data-tipo="segundo"] {
    position: relative;
    top: 2vh;
    transform: translateX(-50%);
    width: 15vw;
    left: 50vw;
    text-align: center;

    a {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        background-color: rgb(182, 181, 185);
        border-radius: 50%;
        margin: 0 5px;
        /*left: 55vw;*/
        /*color: white;*/
        text-decoration: none;
        line-height: 20px;

        &:hover {
            background-color: gray;
        }

    }

}

@media screen and (min-width: 768px) {
    div[data-tipo="primero"] {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        left: -0.1vw;
    
        img[data-tipo="primero-1"] {
            width: 100vw;
            height: 100vh;
            position: relative;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
        }
    
        &:target {
            opacity: 1;
        }
    }
    
    div[data-tipo="segundo"] {
        position: relative;
        top: 2vh;
        transform: translateX(-50%);
        width: 15vw;
        left: 50vw;
        text-align: center;
    
        a {
            display: inline-block;
            position: relative;
            width: 20px;
            height: 20px;
            background-color: rgb(182, 181, 185);
            border-radius: 50%;
            margin: 0 5px;
            /*left: 55vw;*/
            /*color: white;*/
            text-decoration: none;
            line-height: 20px;
    
            &:hover {
                background-color: gray;
            }
    
        }
    
    }
}

@media screen and (max-width: 420px) {
    div[data-tipo="primero"] {
        position: relative;
        width: 100vw;
        height: 80vh;
        overflow: hidden;
        left: -0.1vw;
        
    
        img[data-tipo="primero-1"] {
            width: 100vw;
            height: 80vh;
            position: relative;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
            display: block;
        }
    
        &:target {
            opacity: 1;
        }
    }
    
    
    div[data-tipo="segundo"] {
        position: relative;
        top: 2vh;
        transform: translateX(-50%);
        width: 35vw;
        left: 50vw;
        text-align: center;
        background-color: red;
    
        a {
            display: inline-block;
            position: relative;
            width: 20px;
            height: 20px;
            background-color: rgb(182, 181, 185);
            border-radius: 50%;
            margin: 0 5px;
            text-decoration: none;
            line-height: 20px;
    
            &:hover {
                background-color: gray;
            }
    
        }
    
    }
}