
main[data-tipo="main-index"] {
    position: relative;
    height: 90vh;
    background-color: yellow;

        h1 {
            display: inline-block;
            position: relative;
            color: blue;
            width: 50vw;
            height: 13vh;
            
            left: 10vw;
            font-size: 80px;
            font-style: italic;

        }

        img[data-tipo="perfil"] {
            display: inline-block;
            position: relative;
            height: 20vh;
            top: 2vh;
            left: 30vw;
        }

        p[data-tipo="nick"] {
        position: relative;
        left:83vw;
        font-size: 20px;
        font-weight: bold;
        width: 5vw;
        animation: changeColor 2s linear infinite;
        top: 2vh;
        }

        @keyframes changeColor {
            0% { color: red; } /* Define el color inicial */
            25% { color: blue; } /* Cambia el color al 25% del tiempo */
            50% { color: green; } /* Cambia el color al 50% del tiempo */
            75% { color: orange; } /* Cambia el color al 75% del tiempo */
            100% { color: red; } /* Vuelve al color inicial al final */
        }

        @import "./mainIndexPLATAFORMAS";

        @import "./mainIndexJUEGOS";

    }
    
    @media screen and (min-width: 768px) {
        main[data-tipo="main-index"] {
            position: relative;
            height: 230vh;
            width: 100vw;
        
                h1 {

                    position: relative;
                    color: blue;
                    width: 50vw;
                    height: 13vh;
                    left: 10vw;
                    font-size: 65px;
                    font-style: italic;
                    top: 5vh;
        
                }
        
                img[data-tipo="perfil"] {
                    position: relative;
                    height: 28vh;
                    top: -5vh;
                    left: 22vw;
                }
        
                p[data-tipo="nick"] {
                position: relative;
                left:79vw;
                font-size: 20px;
                font-weight: bold;
                width: 20vw;
                animation: changeColor 2s linear infinite;
                top: -4vh;
                }
        
                @keyframes changeColor {
                    0% { color: red; } /* Define el color inicial */
                    25% { color: blue; } /* Cambia el color al 25% del tiempo */
                    50% { color: green; } /* Cambia el color al 50% del tiempo */
                    75% { color: orange; } /* Cambia el color al 75% del tiempo */
                    100% { color: red; } /* Vuelve al color inicial al final */
                }
        
                @import "./mainIndexPLATAFORMAS";
        
                @import "./mainIndexJUEGOS";
        
            }

    }
    

    @media screen and (max-width: 420px) {
        main[data-tipo="main-index"] {
            position: relative;
            height: 220vh;
            top: -10vh;
            z-index: 0;
            
        
                h1 {
                    display: inline-block;
                    position: relative;
                    color: blue;
                    width: 60vw;
                    height: 13vh;
                    left: 5vw;
                    font-size: 50px;
                    font-style: italic;
                    top: 5vh;
        
                }
        
                img[data-tipo="perfil"] {
                    display: inline-block;
                    position: relative;
                    height: 15vh;
                    top: -10vh;
                    left: 8vw;
                }
        
                p[data-tipo="nick"] {
                position: relative;
                left:79vw;
                font-size: 10px;
                font-weight: bold;
                width: 15vw;
                animation: changeColor 2s linear infinite;
                top: -9vh;
                }
        
                @keyframes changeColor {
                    0% { color: red; } /* Define el color inicial */
                    25% { color: blue; } /* Cambia el color al 25% del tiempo */
                    50% { color: green; } /* Cambia el color al 50% del tiempo */
                    75% { color: orange; } /* Cambia el color al 75% del tiempo */
                    100% { color: red; } /* Vuelve al color inicial al final */
                }
        
                @import "./mainIndexPLATAFORMAS";
        
                @import "./mainIndexJUEGOS";
        
            }
    }

